@import "tailwindcss";

@custom-variant has-hover (@media (hover: hover) and (pointer: fine));

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-copy: var(--copy);
  --color-secondary-opac: var(--secondary-opac);
}

[data-theme="light"] {
  --primary: oklch(1 0 0);
  --secondary: oklch(0 0 0);
  --accent: oklch(0 0 0);
  --copy: oklch(0 0 0);
  --secondary-opac: color-mix(in oklch, var(--secondary) 10%, transparent);
}
[data-theme="dark"] {
  --primary: oklch(0 0 0);
  --secondary: oklch(0.8 0 0);
  --accent: oklch(1 0 0);
  --copy: oklch(1 0 0);
  --secondary-opac: color-mix(in oklch, var(--secondary) 25%, transparent);
}
[data-theme="forest"] {
  --primary: oklch(0.15 0.2 145);
  --secondary: oklch(0.5 0.15 145);
  --accent: oklch(0.9 0.12 75);
  --copy: oklch(0.9 0.12 75);
  --secondary-opac: color-mix(in oklch, var(--secondary) 25%, transparent);
}
[data-theme="neon"] {
  --primary: oklch(0 0 0);
  --secondary: oklch(0.91 0.4 193);
  --accent: oklch(0.6 0.3 328);
  --copy: oklch(0.6 0.3 328);
  --secondary-opac: color-mix(in oklch, var(--secondary) 20%, transparent);
}

@utility b1 {
  outline: dotted red 4px;
  outline-offset: -4px;
  > * {
    outline: dotted orange 1px;
  }
}

@utility b2 {
  outline: dashed green 8px;
  outline-offset: -4px;
}

@utility b3 {
  outline: solid blue 4px;
  outline-offset: -8px;
}

@layer utilities {
  @theme {
    --animate-dot-bouncey: dot-bouncey 0.6s ease-in-out infinite;
    --animate-border-pulse: border-pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1)
      infinite;
  }

  @keyframes dot-bouncey {
    50% {
      transform: translateY(-1px);
    }
  }

  @keyframes border-pulse {
    50% {
      border-color: var(--secondary);
    }
  }
  button {
    padding: 4px 6px;
    background-color: var(--primary);
    color: var(--copy);
    border: 2px solid var(--secondary-opac);
  }

  button:active:not(:disabled) {
    filter: brightness(0.95);
    transform: translateY(1px);
  }

  @media (hover: hover) and (pointer: fine) {
    button:hover:not(:disabled) {
      box-shadow: 0 0 4px 1px var(--secondary);
      cursor: pointer;
    }
  }

  * {
    border-color: var(--secondary);
  }

  .disable-transitions * {
    transition: none;
  }
}
