@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  padding: 4px 6px;
  background-color: rgb(240, 240, 240);
}

button:active:not(:disabled) {
  transform: scale(0.98);
}
.b1 {
  border: 3px solid white;
}
.b2 {
  border: 3px solid rgb(60, 255, 1);
}
.b3 {
  border: 3px solid rgb(3, 104, 255);
}

@media (hover: hover) and (pointer: fine) {
  button:hover:not(:disabled) {
    box-shadow: 0 0 4px 1px black;
    cursor: pointer;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
