@import "tailwindcss";

@utility b1 {
  border: 5px solid white;
}

@utility b2 {
  border: 5px solid rgb(60, 255, 1);
}

@utility b3 {
  border: 5px solid rgb(3, 104, 255);
}

@layer utilities {
  button {
    padding: 4px 6px;
    background-color: rgb(240, 240, 240);
  }

  button:active:not(:disabled) {
    transform: scale(0.98);
  }

  @media (hover: hover) and (pointer: fine) {
    button:hover:not(:disabled) {
      box-shadow: 0 0 4px 1px black;
      cursor: pointer;
    }
  }
}
