body {
  border: none;
  background-color: rgb(168, 168, 168);
  font-size: 16px;
  font-family: sans-serif;
  min-height: 100vh;
  width: 100vw;
  min-width: min-content;
  margin: 0;
  user-select: none;
  touch-action: pan-y;
}

.container {
  margin: auto auto;
  padding: 2px;
  display: grid;
  grid-template-areas:
    "title title"
    "rules board"
    "controls numberpad";
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: minmax(min-content, 40%) 1fr;
  min-height: min-content;
  max-height: 100%;
  min-width: min-content;
  max-width: 125vh;
}

.title {
  grid-area: title;
  text-align: center;
  font-size: 2em;
  border: none;
}

.rules {
  grid-area: rules;
  text-align: center;
  border: none;
  overflow: hidden;
}

.board {
  user-select: none;
  grid-area: board;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid black;
  aspect-ratio: 1;
  min-height: 350px;
}

.solved {
  border: 5px solid yellow;
}

.controls {
  grid-area: controls;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: none;
  width: auto;
}

.numberpad {
  grid-area: numberpad;
  height: 100%;
  display: flex;
  border: none;
  margin: auto 0;
  flex-wrap: wrap;
}

.pad-number {
  width: calc(100% / 9);
  padding: 5px 0;
  height: 1fr;
  text-align: center;
  font-size: 2em;
  user-select: none;
}
.pad-mode-container {
  display: flex;
  margin: 5px auto;
  justify-content: center;
  align-items: center;
}
.solution-mode-btn,
.candidate-mode-btn {
  height: 90%;
  width: 100px;
  border: none;
  display: flex;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.mode-switch-outer {
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: rgb(43, 143, 43);
  position: relative;
  margin: auto 5px;
  transition: 0.3s;
  cursor: pointer;
}
.mode-switch-outer.candidate-mode-on {
  background-color: #d14141;
}
.mode-switch-inner {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(0%, -50%);
  pointer-events: none;
  transition: 0.3s;
}
.mode-switch-inner.candidate-mode-on {
  left: calc(100% - 5px);
  transform: translate(-100%, -50%);
}

/* grid children */
.box {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid black;
  aspect-ratio: 1;
}

.square {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "c1 c2 c3"
    "c4 c5 c6"
    "c7 c8 c9";
  position: relative;
  border: 1px solid grey;
  aspect-ratio: 1;
  font-size: 100%;
}

.candidate {
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 98%;
  height: 98%;
}

/* .control children */
.controls-title {
  text-align: center;
  border: none;
}

.control-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  align-items: center;
  position: relative;
  gap: 2px;
}

/* style toggles */
.board-is-set {
  display: none;
}

.set {
  background-color: rgba(142, 153, 167, 0.349);
}

.wrong {
  background-color: red;
}

.highlight.candidate {
  background-color: rgb(248, 248, 120);
  font-weight: bold;
}

.mark-good.candidate {
  background-color: rgb(45, 241, 77);
  font-weight: bold;
}

.mark-bad.candidate {
  background-color: red;
  font-weight: bold;
}

.highlight.entry {
  text-shadow: -1px -1px 0 currentColor, 1px -1px 0 currentColor, -1px 1px 0 currentColor, 1px 1px 0 currentColor;
}

.highlight.pad-number {
  font-weight: bold;
}

.candidate.toggleable {
  border: 1px dashed #0000ff31;
}

.grid-string {
  width: 100%;
  border: none;
  height: 2em;
  font-size: 0.85em;
  margin: 2px;
  user-select: text;
}
.input-grid-string-btn {
  width: 50%;
  border: none;
  border-radius: 10px;
  padding: 2px;
  margin: 2px 25%;
  margin-bottom: 5px;
  box-shadow: black 0px 0px 3px;
}

.clear-all-btn {
  max-width: min-content;
  margin: 2px;
  border: none;
  border-radius: 10px;
  box-shadow: black 0px 0px 3px;
}

.set-puzzle-btn {
  width: min-content;
  border: none;
  border-radius: 10px;
  margin: 2px;
  box-shadow: black 0px 0px 3px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform-origin: center;
  transform: translateX(-50%);
}
button.set-puzzle-btn:active {
  left: 50%;
  transform: translateX(-50%) scale(0.98);
  background-color: yellow;
}

.toggle-candidates-btn {
  max-width: min-content;
  margin: 2px;
  margin-left: auto;
  border: none;
  border-radius: 10px;
  box-shadow: black 0px 0px 3px;
}

.toggle-candidates-btn:disabled {
  opacity: 0.5;
}

.toggle-candidates-btn:active:disabled {
  transform: none;
}

.rules-title {
  border: none;
}

.rules-list {
  border: none;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.rule-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  border: none;
}

.try-next-btn {
  border: none;
  border-radius: 10px;
  margin: 2px;
  padding: 2px 5px;
  box-shadow: black 0px 0px 4px;
  white-space: nowrap;
  width: 70px;
  transition: background-color 0.3s ease-out;
}

.try-next-btn:active:disabled {
  transform: none;
}

.rule-name {
  margin-left: 5px;
  margin-right: 20px;
  white-space: nowrap;
}

.checkbox-label {
  border: none;
  margin-left: auto;
  white-space: nowrap;
}
.checkbox {
  margin-left: 5px;
}

button {
  padding: 4px 6px;
  background-color: rgb(240, 240, 240);
}

button:active {
  transform: scale(0.98);
}

.success {
  background-color: green;
}

.fail {
  background-color: red;
}

@media (max-width: 799px) {
  .container {
    grid-template-areas:
      "title"
      "board"
      "numberpad"
      "rules"
      "controls";
    grid-template-columns: minmax(min-content, 95vw);
    grid-template-rows: repeat(5, min-content);
    margin: 2px auto;

    min-height: min-content;
    max-height: min-content;
    min-width: min-content;
    max-width: max-content;
  }

  .rules {
    max-width: 100%;
    margin-top: 10px;
  }

  .controls {
    margin-top: 10px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .pad-number:hover {
    cursor: pointer;
    font-weight: bold;
  }

  .candidate.toggleable:hover {
    background-color: #ff5353;
    font-weight: bold;
  }

  .entry.candidate-mode {
    pointer-events: none;
  }

  .entry:hover:not(:focus):not(.candidate-mode) {
    border: 1px solid rgb(80, 80, 80);
  }

  button:hover {
    box-shadow: 0 0 4px 1px black;
    cursor: pointer;
  }
}

@media (hover: hover) and (pointer: fine) and (max-width: 799px) {
  /* body {
    overflow-x: hidden;
  } */
  /* .container {
    grid-template-columns: minmax(min-content, 95vw);
    margin-left: 5px;
  } */
}
